body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%; /* this sets 1em to equal approximately 16px */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.3em;
    margin: 0 0 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.drag-canvas {
    left: 0;
    position: absolute;
    top: 0;
}

canvas {
    /* Prevent 'copy' option > http://www.bernskiold.com/2011/02/02/tips-and-tricks-for-ios-web-development/ */
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    
    /* 
        Microsoft have their own variation...
        
        -ms-touch-action: none;
        
        ...but without having access to a Windows Phone 7 I'm not 100% sure if this will have the intended result.
        
        See: http://blogs.msdn.com/b/ie/archive/2012/04/20/guidelines-for-building-touch-friendly-sites.aspx
    */
}

.allow {
    margin-top: 1em;
    text-align: center;
    width: 760px;
}


#globalContainer {
clear: both;
}

#globalContainer {
width: 981px;
margin: 0 auto;
position: relative;
zoom: 1;
}

._21mm {
height: 42px;
}

.profilePic {
background-color: #fff;
border: 4px solid #fff;
-webkit-border-radius: 2px;
height: 160px;
width: 160px;
}

._2w3 {
margin: 18px 0 0 0;
width: 851px;
}

._2w3>._30f {
background: #fff;
border: 1px solid #d3d6db;
-webkit-border-radius: 3px;
margin-bottom: 31px;
min-height: 406px;
}

._4-ox {
min-height: 0;
padding-bottom: 12px;
}

._3cz {
background: #f6f7f8;
border-bottom: 1px solid #d3d6db;
-webkit-border-radius: 2px 2px 0 0;
margin-bottom: 15px;
min-height: 66px;
padding-top: 16px;
}

._3c- {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 20px;
font-weight: bold;
height: 24px;
line-height: 1;
margin: 0 12px 5px;
}

._51sw {
margin: 0 9px 0 0;
vertical-align: middle;
}

._3i9 {
padding: 0 14px 0 15px;
}

._30f {
position: relative;
}

._4q0 {
background: none;
margin: -5px -12px 0;
padding: 0 10px 10px 10px;
}

.clearfix {
zoom: 1;
}

._4q0>._4_g4, ._4q0>._4_g5 {
-webkit-box-sizing: border-box;
width: 50%;
}

._4q0>._4_g4 {
border-right: 1px solid #e5e5e5;
}

._ohe {
float: left;
}

._4q0 .fbTimelineSection .fbTimelineAboutMeHeader {
margin: 15px 10px;
}

.uiHeaderWithImage .uiHeaderTop {
position: relative;
}

._4q0 .fbTimelineAboutMeHeader .uiHeaderTitle {
color: #37404e;
font: bold 16px 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
padding-left: 0;
}

button {
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

._5p3y button {
font-size: 12px;
}

._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs {
background-position: 0 -21px;
font-size: 12px;
line-height: 22px;
}

._517h, ._59pe:focus, ._59pe:hover, ._517h._42fr:active, ._517h._42fr._42fs {
border-color: #cdced0 #c5c6c8 #b6b7b9;
color: #4e5665;
text-shadow: 0 1px 0 #fff;
} 

._4jy0, ._59pe:focus, ._59pe:hover {
background: #f6f7f8 url(/rsrc.php/v2/y1/r/wL6VQj7Ab77.png) repeat-x;
border: 1px solid;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
-webkit-box-sizing: content-box;
font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
-webkit-font-smoothing: antialiased;
font-weight: bold;
padding: 0 8px;
position: relative;
text-align: center;
vertical-align: middle;
}

._42ft {
cursor: pointer;
display: inline-block;
text-decoration: none;
white-space: nowrap;
}